.movies {
    width: 70%;
}

.movie-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px 0px 0px 40px;
    list-style-type: none;
}

.movie-list-title {
    font-size: 40px;
    margin: 0px 0px 0px 40px;
}

.movie-list-item {
    
}