.movie-item {
    width: 35vh;
}

.poster {
    width: 100%;
    height: 400px;
}

.movie-item-add-to-list {
    position: absolute;
    padding: 5px 10px;
}

.movie-item-added-to-list {
    position: absolute;
    padding: 5px 10px;
}

.movie-item-title {
    font-size: 20px;
}

@media (max-width: 1260px) {
    .poster {
        height: 100%;
    }
}


@media (max-width: 1000px) {
    .movie-item {
        width: 25vh;
    }

    .poster {
        height: 100%;
    }
}

@media (max-width: 880px) {
    .movie-item {
        width: 40vh;
    }

    .poster {
        height: 100%;
    }
}

@media (max-width: 720px) {
    .movie-item {
        width: 30vh;
    }

    .poster {
        height: 100%;
    }
}

@media (max-width: 580px) {
    .movie-item {
        width: 25vh;
    }

    .poster {
        height: 300px;
    }
}

@media (max-width: 520px) {
    .movie-item {
        width: 20vh;
    }

    .poster {
        height: 250px;
    }
}