.list-page-container {
    margin-top: 50px;
    margin-left: 60px;
    height: 100vh;
}

.list-page {
    display: grid;
    grid-template-columns: auto auto auto auto;
    row-gap: 40px;
    list-style-type: none;
}

.list-page__item-poster {
    width: 300px;
    border-radius: 20px;
}

.list-page__item-title {
    color: white;
    text-decoration: none;
    font-family: Bahnschrift;
}

.list-page__link {
    text-decoration: none;
}

.list-page__item-watch-button {
    font-size: 20px;
    font-family: Bahnschrift;
    padding: 5px 10px;
    border-radius: 20px;
    background-color: yellow;
    border: none;
    margin: 20px 0px 0px 70px;
}