.list-page__container {
    width: 30%;
    margin-right: 50px;
    margin-left: 25px;
}

.saved-movie-title {
    text-align: center;
}

.list-page__empty {
    margin-top: 15px;
    font-size: 22px;
    text-align: center;
}

.saved-movie-list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    list-style-type: none;
    justify-content: space-around;
}

.saved-movie-list-item {
    width: 40%;
}

.saved-movie-poster {
    width: 100%;
}

.delete-saved-movie {
    padding: 5px 10px;
}
.list-page__button {
    padding: 5px 10px;
    margin: 30px 0px 0px 15px;
}
.link-page__movies-watch-button {
    color: black;
    background-color: aliceblue;
    padding: 5px 10px;
    text-decoration: none;
    border: 1px solid rgb(73, 73, 73);
    margin: 0px 0px 0px 80px;
}

@media (max-width: 1260px){
    .list-page__container {
        width: 50%;
    }
    .saved-movie-poster {
        width: 200px;
    }
}

@media (max-width: 1000px) {
    .list-page__container {
        width: 50%;
    }
    .saved-movie-poster {
        width: 100px;
    }
}

@media (max-width: 790px) {

    .list-page__container {
        width: 50%;
    }

    .saved-movie-list-item {
        width: 150px;
    }
    .saved-movie-poster {
        width: 150px;
    }
}

@media (max-width: 400px) {

    .list-page__container {
        width: 30%;
    }

    .saved-movie-list-item {
        width: 80px;
    }
    .saved-movie-poster {
        width: 80px;
    }
}